CompileFlags:
    CompilationDatabase: "build"
    Add:
        - "-D__block="
    Remove:
        - "-mlongcalls"
        - "-fno-shrink-wrap"
        - "-fno-tree-switch-conversion"
        - "-fstrict-volatile-bitfields"
